<router-outlet></router-outlet>
<!-- Displays sign in page if the user is not signed in -->
<amplify-authenticator *ngIf="authState !== 'signedin'">
  <amplify-sign-up
    slot="sign-up"
    usernameAlias="email"
    [formFields]="formFields"></amplify-sign-up>
</amplify-authenticator>

<!-- Displays if the user is signed in -->
<div *ngIf="authState === 'signedin' && user" class="App">
  <div class="nav">
    <div class="nav-centered">
      <strong>{{user.username}}'s Expenses</strong>
    </div>
    <a mat-button class="nav-button" href="mailto:agugold3@gmail.com?subject=MoneyTracker Issue">Report an Issue</a>
    <div class="nav-right">
      <button mat-button class="btn btn-primary nav-button" (click)="signOut()">Sign Out <i class="ion-log-in" data-pack="default" data-tags="sign in"></i></button>
    </div>

  </div>

  <!-- Elements to add an expense -->
  <!-- Trying to add a card for the add expense section
    <mat-card>
      <mat-card-title>Add an Expense</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Amount</mat-label>
          <input matInput>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <mat-label>Type</mat-label>
          <mat-select>
            <mat-option *ngFor="let type of types" [value]="type.value">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <button mat-raised-button color="primary">Add Expense</button>
      </mat-card-content>
    </mat-card>
  <mat-divider></mat-divider><br>
  -->

  <!-- Trying to add a card for the list of expenses
  <mat-card>
    <mat-card-title>List of Expenses</mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]="expenses" class="mat-elevation-z8">

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
        </ng-container>
      </table>
    </mat-card-content>
  </mat-card>
  -->

  <div class="add-expense">
    <strong class="expense-title">Add an Expense:</strong><br><br>
    <label for="expenseAmt">Amount: </label><br><br>
    $ <input type="number" id="expenseAmt" class="currency" min="0.01" step="0.01"><br><br>
    <label for="type">Type: </label>
    <select name="type" id="type">
      <option value="Bills">Bills</option>
      <option value="Groceries">Groceries</option>
      <option value="Fast Food">Fast Food</option>
      <option value="Car">Car</option>
      <option value="Other">Other</option>
    </select><br><br>
    <button mat-raised-button class="btn btn-primary" (click)="addExpense()">Add Expense</button>
  </div>
  <br>

  <!-- Table to list expenses -->
  <div class="expenses-list" id="expense-table" [ngClass]="updateData()"></div>

  <!-- Pie Chart visualization -->
  <div class="pie-chart" id="pieChart" [ngClass]="updateChart()"></div>

</div>
