.App {
  /*background-image: url("../background.png");
  background-size: cover;
  background-blend-mode: soft-light;*/
}

.nav {
  position: relative;
  padding: 0;
  width: 100%;
  background-color: #68d627;
  overflow: hidden;
  display: inline-block;
  font-size: 30px;
}
/* Centering the title of the page */
.nav-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-right {
  float: right;
  right: 20%;
}
.nav-button {
  font-size: 30px;
}

/* Styles for adding expenses section */
.expense-title {
  font-size: 20px;
}
.input.currency {
  text-align: right;
  padding-left: 15px;
}

/* Styles for the list of expenses table */
.expenses-list {
  position: relative;
  top: -5px;
  left: 33%;
}

/* Styles for the pie chart */
.pie-chart {
  position: relative;
  left: 50%;
  top: 0;
  width: 500px;
  height: 500px;
}

/* Style for version info */
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}
