<router-outlet></router-outlet>
<!-- Displays sign in page if the user is not signed in -->
<amplify-authenticator *ngIf="authState !== 'signedin'">
  <amplify-sign-up
    slot="sign-up"
    usernameAlias="email"
    [formFields]="formFields"></amplify-sign-up>
</amplify-authenticator>

<!-- Displays if the user is signed in -->
<div *ngIf="authState === 'signedin' && user" class="App">
  <div class="nav">
    <div class="nav-centered">
      <strong>{{user.username}}'s Expenses</strong>
    </div>
    <a href="mailto:agugold3@gmail.com?subject = MoneyTracker Issue">Report an Issue</a>
    <div class="nav-right">
      <button class="btn btn-primary btn-sign-out" (click)="signOut()">Sign Out <i class="ion-log-in" data-pack="default" data-tags="sign in"></i></button>
    </div>

  </div>

  <!-- Elements to add an expense -->
  <div class="add-expense">
    <strong class="expense-title">Add an Expense:</strong><br><br>
    <label for="expenseAmt">Amount: </label><br><br>
    $ <input type="number" id="expenseAmt" class="currency" min="0.01" step="0.01"><br><br>
    <label for="type">Type: </label>
    <select name="type" id="type">
      <option value="Bills">Bills</option>
      <option value="Groceries">Groceries</option>
      <option value="Fast Food">Fast Food</option>
      <option value="Car">Car</option>
      <option value="Other">Other</option>
    </select><br><br>
    <button class="btn btn-primary" (click)="addExpense()">Add Expense</button>
  </div>

  <!-- Table to list expenses -->
  <div class="expenses-list" id="expense-table" [ngClass]="updateData()"></div>

  <!-- Pie Chart visualization -->
  <div class="pie-chart" id="pieChart" [ngClass]="updateChart()"></div>

  <div class="test">
    <button class="btn btn-primary" (click)="updateData()">Update Data</button>
  </div>
</div>
